@{
    Layout = null;
}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta content="telephone=no" name="format-detection">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/swiper4.3.min.css" />
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/weui.css" />
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/weui2.css" />
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/boss.css" />
		<script src="/Js/Mobile/boss/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">

		</style>

	</head>

	<body>
		<header>
			<div id="s_back">

			</div>
			<i class="iconfont back">&#xe733;</i>
			<h3>我的</h3>
			
		</header>
		<div class="content">
			<div class="weui_cell">
				<div class="weui_cell_hd">
					<img src="/Images/user.jpg" />

				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<p>Mr.佘</p>
					<p class="phone">17602909473</p>
					<p>
						<span class="guwen">佘坤</span>

					</p>
					<i class="iconfont qrcode">&#xe503;</i>
				</div>
			</div>
			<!--end-->
			<div class="swiper-container" id="swiper0">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<!--头部  -->
						<div class="boss_titles">
							<h3 class="boss_title">资金流水</h3>
						</div>

						<!--具体详细-->
						<div class="weui_grids">
							<a href="javascript:;" class="weui_grid js_grid">
								<div class="weui_grid_icon">
									<p>毛收入</p>
								</div>
								<p class="weui_grid_label">
									85201
								</p>
							</a>
							<a href="javascript:;" class="weui_grid js_grid">
								<div class="weui_grid_icon">
									<p>商品成本</p>
								</div>
								<p class="weui_grid_label">
									5254154
								</p>
							</a>
							<a href="javascript:;" class="weui_grid js_grid">
								<div class="weui_grid_icon">
									<p>纯利润</p>
								</div>
								<p class="weui_grid_label">
									9879
								</p>
							</a>

						</div>

						<!--时间 -->
						<div class="boss_time">
							<span>2018-01-02</span> 至 <span>2018-01-02</span>
						</div>

					</div>
					<div class="swiper-slide">
						<!--头部  -->
						<div class="boss_titles">
							<h3 class="boss_title">资金流水</h3>
						</div>

						<!--具体详细-->
						<div class="weui_grids">
							<a href="javascript:;" class="weui_grid js_grid">
								<div class="weui_grid_icon">
									<p>毛收入</p>
								</div>
								<p class="weui_grid_label">
									85201
								</p>
							</a>
							<a href="javascript:;" class="weui_grid js_grid">
								<div class="weui_grid_icon">
									<p>商品成本</p>
								</div>
								<p class="weui_grid_label">
									5254154
								</p>
							</a>
							<a href="javascript:;" class="weui_grid js_grid">
								<div class="weui_grid_icon">
									<p>纯利润</p>
								</div>
								<p class="weui_grid_label">
									9879
								</p>
							</a>

						</div>

						<!--时间 -->
						<div class="boss_time">
							<span>2018-01-02</span> 至 <span>2018-01-02</span>
						</div>
					</div>
					<div class="swiper-slide">
						<!--头部  -->
						<div class="boss_titles">
							<h3 class="boss_title">资金流水</h3>
						</div>

						<!--具体详细-->
						<div class="weui_grids">
							<a href="javascript:;" class="weui_grid js_grid">
								<div class="weui_grid_icon">
									<p>毛收入</p>
								</div>
								<p class="weui_grid_label">
									85201
								</p>
							</a>
							<a href="javascript:;" class="weui_grid js_grid">
								<div class="weui_grid_icon">
									<p>商品成本</p>
								</div>
								<p class="weui_grid_label">
									5254154
								</p>
							</a>
							<a href="javascript:;" class="weui_grid js_grid">
								<div class="weui_grid_icon">
									<p>纯利润</p>
								</div>
								<p class="weui_grid_label">
									9879
								</p>
							</a>

						</div>

						<!--时间 -->
						<div class="boss_time">
							<span>2018-01-02</span> 至 <span>2018-01-02</span>
						</div>
					</div>
				</div>

			</div>
			<!--end-->
			<div class="swiper-container" id="swiper1">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<!--头部  -->
						<div class="boss_titles grids-small">
							<h3 class="boss_title">订单管理</h3>
						</div>

						<!--具体详细-->
						<div class="weui_grids grids-small">
							
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>订单量</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>会员订单</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>非会员订单</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>客单价</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
						</div>
						<!--时间 -->
						<div class="boss_time">
							<span>2018-01-02</span> 至 <span>2018-01-02</span>
						</div>

					</div>
					<div class="swiper-slide">
						<!--头部  -->
						<div class="boss_titles">
							<h3 class="boss_title">订单管理</h3>
						</div>

						<!--具体详细-->
						<div class="weui_grids grids-small">
							
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>订单量</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>会员订单</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>非会员订单</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>客单价</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
						</div>

						<!--时间 -->
						<div class="boss_time">
							<span>2018-01-02</span> 至 <span>2018-01-02</span>
						</div>
					</div>
					<div class="swiper-slide">
						<!--头部  -->
						<div class="boss_titles">
							<h3 class="boss_title">订单管理</h3>
						</div>

						<!--具体详细-->
						<div class="weui_grids grids-small">
							
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>订单量</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>会员订单</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>非会员订单</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>客单价</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
						</div>

						<!--时间 -->
						<div class="boss_time">
							<span>2018-01-02</span> 至 <span>2018-01-02</span>
						</div>
					</div>
				</div>

			</div>
			<!--end-->
			<div class="swiper-container" id="swiper2">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<!--头部  -->
						<div class="boss_titles">
							<h3 class="boss_title">会员管理</h3>
						</div>

						<!--具体详细-->
						<div class="weui_grids grids-small">
							
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>新增粉丝</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>新增会员</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>今日咨询</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>会员总量</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
						</div>
						<!--时间 -->
						<div class="boss_time">
							<span>2018-01-02</span> 至 <span>2018-01-02</span>
						</div>

					</div>
					<div class="swiper-slide">
						<!--头部  -->
						<div class="boss_titles">
							<h3 class="boss_title">会员管理</h3>
						</div>

						<!--具体详细-->
						<div class="weui_grids grids-small">
							
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>新增粉丝</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>新增会员</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>今日咨询</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>会员总量</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
						</div>
						<!--时间 -->
						<div class="boss_time">
							<span>2018-01-02</span> 至 <span>2018-01-02</span>
						</div>
					</div>
					<div class="swiper-slide">
						<!--头部  -->
						<div class="boss_titles">
							<h3 class="boss_title">会员管理</h3>
						</div>

						<!--具体详细-->
						<div class="weui_grids grids-small">
							
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>新增粉丝</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>新增会员</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>今日咨询</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
							<a href="javascript:;" class="grid">
								<div class="weui_grid_icon">
									<p>会员总量</p>
								</div>
								<p class="weui_grid_label">
									4545
								</p>
							</a>
						</div>
						<!--时间 -->
						<div class="boss_time">
							<span>2018-01-02</span> 至 <span>2018-01-02</span>
						</div>
					</div>
				</div>

			</div>
			<!--end-->
			<div class="hot_goods">
				<div class="boss_titles">
					<h3 class="boss_title">热销单品</h3>
				</div>
				<table class="je-table">
					<thead>
						<tr>
							<th>商品名称</th>
							<th>零售价</th>
							<th>成本价</th>
							<th>销售数量</th>
							<th>利润</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>25</td>
							<td>550</td>
						</tr>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>25</td>
							<td>550</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="hot_goods">
				<div class="boss_titles">
					<h3 class="boss_title">临期商品列表</h3>
				</div>
				<table class="je-table">
					<thead>
						<tr>
							<th>商品名称</th>
							<th>生产日期</th>
							<th>到期时间</th>
							<th>库存</th>
							<th>进货价</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>25</td>
							<td>550</td>
						</tr>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>25</td>
							<td>550</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="hot_goods">
				<div class="boss_titles">
					<h3 class="boss_title">库存预警</h3>
				</div>
				<table class="je-table">
					<thead>
						<tr>
							<th>商品名称</th>
							<th>当前库存</th>
							<th>上次补货数量</th>
							<th>上次补货时间</th>
							
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>25</td>
						
						</tr>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>25</td>
						
						</tr>
					</tbody>
				</table>
			</div>

		</div>

		<script src="/Js/Mobile/boss/swiper4.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var mySwiper0 = new Swiper('#swiper0', {
				direction: 'horizontal',
				loop: true,

			})
			var mySwiper1 = new Swiper('#swiper1', {
				direction: 'horizontal',
				loop: true,

			})
			var mySwiper2 = new Swiper('#swiper2', {
				direction: 'horizontal',
				loop: true,

			})
		</script>
		<script type="text/javascript">
			window.onscroll = function() {
				//变量t是滚动条滚动时，距离顶部的距离
				var t = document.documentElement.scrollTop || document.body.scrollTop;
			
				//当滚动到距离顶部200px时，返回顶部的锚点显示
				if(t >= 100) {

					$("#s_back").css({
						"background": "rgba(250,137,130,1)"
					})
				} else { //恢复正常
					// #FA8982
					// background: rgba(250,137,130,0);
					var option = (t / 100);
					$("#s_back").css({
						"background": "rgba(250,137,130," + option + ")"
					})

				}
			}
		</script>

	</body>

</html>