@{
    Layout = null;
}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta content="telephone=no" name="format-detection">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/weui.css" />
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/weui2.css" />
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/paiming.css" />
		<script src="/Js/Mobile/boss/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			
		</style>

	</head>

	<body>
		<header>
			<div class="weui-header ">
				<div class="weui-header-left">
					<a class="icon icon-109 f-black" onclick="history.back()"></a>
				</div>
				<div class="weui-header-title">
					<i class="iconfont">&#xe60b;</i>
					<input type="text" name="" id="" class="input-title" value=""  placeholder="商品名称、货号等"/>
				</div>
				
				 
				<div class="weui-header-right">
					<span>商品查看</span>
					<i class="iconfont">&#xe609;</i>
				</div>
			</div>

		</header>
		<div class="content">
			<div class="weui_cell">
                <div class="weui_cell_hd"> 
                    <img src="/images/user.jpg"/>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Mr.佘</p>
                    <p class="guwen">规格一  <span class="shu">1</span></p>
                    <p class="mendian">婴雄天下001号产品</p>
                </div>
                <div class="weui_cell_ft">18629364654</div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"> 
                    <img src="/images/user.jpg"/>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Mr.佘</p>
                    <p class="guwen">规格一  <span class="shu">1</span></p>
                    <p class="mendian">婴雄天下001号产品</p>
                </div>
                <div class="weui_cell_ft">18629364654</div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"> 
                    <img src="/images/user.jpg"/>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Mr.佘</p>
                    <p class="guwen">规格一  <span class="shu">1</span></p>
                    <p class="mendian">婴雄天下001号产品</p>
                </div>
                <div class="weui_cell_ft">18629364654</div>
            </div> 
            <div class="weui_cell">
                <div class="weui_cell_hd"> 
                    <img src="/images/user.jpg"/>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Mr.佘</p>
                    <p class="guwen">规格一  <span class="shu">1</span></p>
                    <p class="mendian">婴雄天下001号产品</p>
                </div>
                <div class="weui_cell_ft">18629364654</div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"> 
                    <img src="/images/user.jpg"/>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Mr.佘</p>
                    <p class="guwen">规格一  <span class="shu">1</span></p>
                    <p class="mendian">婴雄天下001号产品</p>
                </div>
                <div class="weui_cell_ft">18629364654</div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"> 
                    <img src="/images/user.jpg"/>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Mr.佘</p>
                    <p class="guwen">规格一  <span class="shu">1</span></p>
                    <p class="mendian">婴雄天下001号产品</p>
                </div>
                <div class="weui_cell_ft">18629364654</div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"> 
                    <img src="/images/user.jpg"/>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Mr.佘</p>
                    <p class="guwen">规格一  <span class="shu">1</span></p>
                    <p class="mendian">婴雄天下001号产品</p>
                </div>
                <div class="weui_cell_ft">18629364654</div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"> 
                    <img src="/images/user.jpg"/>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Mr.佘</p>
                    <p class="guwen">规格一  <span class="shu">1</span></p>
                    <p class="mendian">婴雄天下001号产品</p>
                </div>
                <div class="weui_cell_ft">18629364654</div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"> 
                    <img src="/images/user.jpg"/>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Mr.佘</p>
                    <p class="guwen">规格一  <span class="shu">1</span></p>
                    <p class="mendian">婴雄天下001号产品</p>
                </div>
                <div class="weui_cell_ft">18629364654</div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"> 
                    <img src="/images/user.jpg"/>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Mr.佘</p>
                    <p class="guwen">规格一  <span class="shu">1</span></p>
                    <p class="mendian">婴雄天下001号产品</p>
                </div>
                <div class="weui_cell_ft">18629364654</div>
            </div>
            
        </div>
        <div class="weui_cells_title hide tcenter" id="more"><div class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore-tips">正在加载</span>
        </div></div>

    <script>
            function ajaxpage(page){
                // $.ajax({
                //     type : "GET",
                //     url : 'page1.php?page='+page,
                //     dataType : "json",
                //     beforeSend:function(){
                //     $("#more").show();
                // },
                //     success : function(rs) {
                //     var tplx = document.getElementById('tpl').innerHTML;
                //     var desc1=tpl(tplx,rs);
                //     $("#rank-list").append(desc1);
                //    },
                //     timeout : 15000
                // });
                console.log("加载中...");
        }
        var page = 2;
        var maxpage =3;//总页数
        $(window).scroll(
            function() {
                var scrollTop = $(this).scrollTop();
                var scrollHeight = $(document).height();
                var windowHeight = $(this).height();
                if (scrollTop + windowHeight == scrollHeight) {
                if(page<=maxpage) {
                    ajaxpage(page);
                    page++;
                    if(page==maxpage){
                    $("#more").html("没有更多数据了");return false;	
                    }
            
                }    
                }

            });
        $(function(){
            
            ajaxpage(1);
        })

    </script>

	</body>

</html>