@{
    Layout = null;
}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta content="telephone=no" name="format-detection">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/swiper4.3.min.css" />
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/weui.css" />
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/weui2.css" />
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/xiaoshoubiao.css" />
		

	</head>

	<body>
		<header>

			<i class="iconfont back">&#xe733;</i>
			<h3>销售报表</h3>

		</header>
		<div class="content">
			<div class="hot_goods">
				<div class="boss_titles">
					<h3 class="boss_title">销售排名</h3>
				</div>
				<table class="je-table">
					<thead>
						<tr>
							<th>姓名</th>
							<th>岗位</th>
							<th>门店</th>
							<th>销售额</th>
							<th>订单量</th>
							<th>客单价</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>25</td>
							<td>550</td>
							<td>550</td>
						</tr>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>25</td>
							<td>550</td>
							<td>550</td>
						</tr>
					</tbody>
				</table>
				<div class="boss_time">
					<span>2018-01-02</span> 至 <span>2018-01-02</span>
				</div>
			</div>
			<div class="hot_goods">
				<div class="boss_titles">
					<h3 class="boss_title">考核进度</h3>
				</div>
				<table class="je-table">
					<thead>
						<tr>
							<th>姓名</th>
							<th>岗位</th>
							<th>门店</th>
							<th>任务目标</th>
							<th>已完成</th>
							<th>进度</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>25</td>
							<td>550</td>
							<td>550</td>
						</tr>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>25</td>
							<td>550</td>
							<td>550</td>
						</tr>
					</tbody>
				</table>
				<div class="boss_time">
					<span>2018-01-02</span> 至 <span>2018-01-02</span>
				</div>
			</div>
			<div class="hot_goods">
				<div class="boss_titles">
					<h3 class="boss_title">咨询好评榜</h3>
				</div>
				<table class="je-table">
					<thead>
						<tr>
							<th>姓名</th>
							<th>岗位</th>
							<th>门店</th>
							<th>咨询量</th>
							<th>今日新增</th>
							<th>好评榜</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>25</td>
							<td>550</td>
							<td>550</td>
						</tr>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>25</td>
							<td>550</td>
							<td>550</td>
						</tr>  
					</tbody>
				</table>
				<div class="boss_time">
					<span>2018-01-02</span> 至 <span>2018-01-02</span>
				</div>
			</div>

		</div>

		<script src="/Js/Mobile/boss/zepto.min.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>
