@{
    Layout = null;
}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta content="telephone=no" name="format-detection">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>库存预警</title>
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/swiper4.3.min.css" />
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/weui.css" />
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/weui2.css" />
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/OA.css" />
	

	</head>

	<body>
		<header>

			<i class="iconfont back">&#xe733;</i>
			<h3>库存预警</h3>

		</header>
		<div class="content">
			<div class="hot_goods">
				<div class="boss_titles">
					<h3 class="boss_title">库存较低</h3>
				</div>
				<table class="je-table">
					<thead>
						<tr>
							<th>商品</th>
							<th>规格</th>
							<th>数量</th>
							<th>操作</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td>小米手机</td>
							<td>规格一</td>
							<td>1500</td>
							<td>
								<a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_warn" style="font-size: .8rem;">订货</a>
							</td>

						</tr>
						<tr>
							<td>小米手机</td>
							<td>规格二</td>
							<td>1500</td>
							<td>
								<a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_warn" style="font-size: .8rem;">订货</a>

							</td>

						</tr>
					</tbody>
				</table>
				<div class="boss_time">
				 <a href="javascript:;">加载更多</a>
				</div>
			</div>
			<div class="hot_goods">
				<div class="boss_titles">
					<h3 class="boss_title">销量最佳</h3>
				</div>
				<table class="je-table">
					<thead>
						<tr>
							<th>商品</th>
							<th>规格</th>
							<th>月销量</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>
								<a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_warn" style="font-size: .8rem;">查看</a>

							</td>

						</tr>
						<tr>
							<td>小米手机</td>
							<td>1522</td>
							<td>1500</td>
							<td>
								<a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_warn" style="font-size: .8rem;">查看</a>

							</td>

						</tr>
					</tbody>
				</table>
				<div class="boss_time"> 
					 <a href="javascript:;">加载更多</a>
				</div>
			</div>

		</div>

		<script src="/Js/Mobile/boss/zepto.min.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>
