@{
    Layout = null;
}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta content="telephone=no" name="format-detection">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/weui.css" />
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/weui2.css" />
		<link rel="stylesheet" type="text/css" href="/Css/Mobile/boss/customer.css" />
		<script src="/Js/Mobile/boss/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">

		</style>

	</head>

	<body>
		<header>
			<i class="iconfont back">&#xe733;</i>

		</header>
		<div class="content">
			<div class="weui_cell">
				<div class="weui_cell_hd">
					<img src="/images/users.jpg" />

				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<p class="cell_p">
						<a href="">
							<i class="iconfont">&#xe88f;</i> 发短信
						</a>
						<a href="">
							<i class="iconfont">&#xe60d;</i> 打电话
						</a>
					</p>
				</div>
			</div>
			<!--end-->
			<div class="ziliao">
				<p>Mr.佘</p>
				<p class="phone">17602909473</p>
				<p>
					<span class="guwen">佘坤</span>
					<span class="zhuce">2018-02-21</span>
				</p>
			</div>
			<div class="biaoqian">
				<span>土豪</span> <span>忠实顾客</span>
				<span>萌萌哒</span>
				<a href="" class="biao">标签管理 <i class="iconfont">&#xe618;</i></a>
			</div>

			<div class="baby-stitc">
				<h3>
					<span class="have_baby">有宝宝</span>
					<span class="have_num">两个宝宝</span>
				</h3>
				<div class="weui_cell">
					<div class="weui_cell_hd">
						<img src="/images/users.jpg" />
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<p class="baby_name"><span>钱多多</span> <i class="iconfont bg-8CBAFB">&#xe54e;</i> </p>
						<p class="baby_month">1岁零7个月</p>
					</div>
					<div class="weui_cell_ft"></div>
				</div>
				<div class="weui_cell">
					<div class="weui_cell_hd">
						<img src="/images/users.jpg" />
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<p class="baby_name"><span>田多多</span> <i class="iconfont bg-FF96C5">&#xe640;</i></p>
						<p class="baby_month">7个月</p>
					</div>
					<div class="weui_cell_ft"></div>
				</div>
				<!-- end -->

			</div>
			<div class="baby_tab">
				<ul class="baby_ul_tab">
					<li class="active">回访记录</li>
					<li>消费记录</li>
					<li>商品推荐</li>
					<li>优惠卡券</li>
					<li>我要发券</li>
				</ul>
			</div>
			<!--end-->
			<div class="cont1 show">
				<div class="weui_cell moments__post">

					<div class="weui_cell_bd">
						<!-- 人名链接 -->
						<a class="title" href="javascript:;">

							<span class="user_id">8952852</span>
							<div class="user_time">
								2018-02-03 14:12:03
							</div>
						</a>
						<!-- post内容 -->
						<!--.huifangzhong:after,.huifangshibai,.weihuifang,.huifangchenggong-->
						<p class="paragraph huifangzhong">
							weui目前是比较好用的ui,在微信和手机中表现非常好。weui目前是比较好用的ui,在微信和手机中表现非常好。weui目前是比较...</p>
						<!-- 伸张链接 -->

					</div>

				</div>
				<!-- 结束 post -->
				<div class="weui_cell moments__post">

					<div class="weui_cell_bd">
						<!-- 人名链接 -->
						<a class="title" href="javascript:;">

							<span class="user_id">8952852</span>
							<div class="user_time">
								2018-02-03 14:12:03
							</div>
						</a>
						<!-- post内容 -->
						<!--.huifangzhong:after,.huifangshibai,.weihuifang,.huifangchenggong-->
						<p class="paragraph weihuifang">
							weui目前是比较好用的ui,在微信和手机中表现非常好。weui目前是比较好用的ui,在微信和手机中表现非常好。weui目前是比较...</p>
						<!-- 伸张链接 -->

					</div>

				</div>
				<!-- 结束 post -->
				<div class="weui_cell moments__post">

					<div class="weui_cell_bd">
						<!-- 人名链接 -->
						<a class="title" href="javascript:;">

							<span class="user_id">8952852</span>
							<div class="user_time">
								2018-02-03 14:12:03
							</div>
						</a>
						<!-- post内容 -->
						<!--.huifangzhong:after,.huifangshibai,.weihuifang,.huifangchenggong-->
						<p class="paragraph huifangshibai">
							weui目前是比较好用的ui,在微信和手机中表现非常好。weui目前是比较好用的ui,在微信和手机中表现非常好。weui目前是比较...</p>
						<!-- 伸张链接 -->

					</div>

				</div>
				<!-- 结束 post -->
				<div class="weui_cell moments__post">

					<div class="weui_cell_bd">
						<!-- 人名链接 -->
						<a class="title" href="javascript:;">

							<span class="user_id">8952852</span>
							<div class="user_time">
								2018-02-03 14:12:03
							</div>
						</a>
						<!-- post内容 -->
						<!--.huifangzhong:after,.huifangshibai,.weihuifang,.huifangchenggong-->
						<p class="paragraph huifangzhong">
							weui目前是比较好用的ui,在微信和手机中表现非常好。weui目前是比较好用的ui,在微信和手机中表现非常好。weui目前是比较...</p>
						<!-- 伸张链接 -->

					</div>

				</div>
				<!-- 结束 post -->
			</div>
			
			<!--// 消费记录-->
			<div class="cont1">
				<div class="weui_panel_bd">
					<a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
						<div class="weui_media_hd">
						<img class="weui_media_appmsg_thumb" src="/images/users.jpg"/>
						
						</div>
						<div class="weui_media_bd">
							<h4 class="weui_media_title">
								<span class="goods_time">2018-06-26</span>
								<span class="goods_stitc">线下购买</span>
							</h4>
							<p class="weui_media_desc">商品名称名称名称名称名称名称名称</p>
							<p class="weui_media_desc">商品规格个个规格规格规格  <span class="goods_num">5</span></p>
							<p class="weui_media_desc">收货人收货人收货人  <span class="goods_money">555</span></p>
						</div>
					</a>
					<a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
						<div class="weui_media_hd">
						<img class="weui_media_appmsg_thumb" src="/images/users.jpg"/>
						
						</div>
						<div class="weui_media_bd">
							<h4 class="weui_media_title">
								<span class="goods_time">2018-06-26</span>
								<span class="goods_stitc">线下购买</span>
							</h4>
							<p class="weui_media_desc">商品名称名称名称名称名称名称名称</p>
							<p class="weui_media_desc">商品规格个个规格规格规格  <span class="goods_num">5</span></p>
							<p class="weui_media_desc">收货人收货人收货人  <span class="goods_money">555</span></p>
						</div>
					</a>
				</div>

			</div>
			<!-- 商品推荐 -->
			<div class="cont1">
				
				
				
			</div>
			<!--end-->
			
			
			<!--优惠卡券-->
			<div class="cont1">
				
				
				
			</div>
			<!--end-->
			
			
			<!-- 我要发券 -->
			<div class="cont1">
				
				
				
			</div>
			<!--end-->
			
			
			
			
			
			
			
		</div>
		<script type="text/javascript">
			
			$(function(){
				$(".baby_ul_tab").on("click", "li",function(){
						$(".baby_ul_tab li").removeClass("active");
						$(this).addClass("active");
						$(".cont1").removeClass("show");
						$($(".cont1")[$(this).index()]).addClass("show");
				})
			})
			
			
		</script>

	</body>

</html>