@{
    Layout = null;
}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>支付提醒</title>
		<style type="text/css">
			.title{padding: 10px;}
			.img-box{padding: 10px;}
			.img-box img{width: 100%;}
		</style>
	</head>
	<body>
		<div class="title">
			不能在微信进行支付宝支付，请点击右上角，选择在浏览器打开
		</div>
		<div class="img-box">
			<img src="/images/Mobile/tips-jump.png"/>
		</div>
	</body>
</html>
