@{
    Layout = null;
}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta content="telephone=no" name="format-detection">
	    <meta name="apple-touch-fullscreen" content="yes">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>申请超级码-@(WorkContext.SellerInfo.SellerName)</title>
		<link rel="stylesheet" type="text/css" href="/Mobile/Themes/huadong/static/weui/style/weui.css"/>
		<link rel="stylesheet" type="text/css" href="/Mobile/Themes/huadong/static/weui/style/weui2.css"/>
		<link rel="stylesheet" type="text/css" href="/Mobile/Themes/huadong/static/weui/style/icon.css"/>
		<script src="/Mobile/Themes/huadong/static/weui/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/Mobile/Themes/huadong/static/weui/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			body{background: #f6f6f6;width: 7.5rem;margin: 0 auto;}
			.warp{width: 7.5rem;overflow: hidden;}
			a.apply:active{color: #fff;}
			.weui-header{background: #fff;color: #666;font-size: 0.28rem;font-family: "微软雅黑";position: fixed;width: 7.5rem;top: 0;left: 50%;margin-left: -3.75rem;z-index: 30;}
			.weui-header a{color: #666;}
			.weui-header .weui-header-left a{color: #666;}
			.weui-header-right{color: #666 !important;}
			.weui-header .weui-header-title, .weui-header h1{color: #666;}
			.main{font-size: 0.24rem;font-family: "微软雅黑";color: #666;margin-top: 1rem;}
			.wapper-title{display: block; height: 0.7rem;line-height: 0.7rem;font-size: 0.32rem;position: relative;text-align: center;margin: 0 auto;width: 2rem;}
			.wapper{padding: 0.2rem 0; height: 0.7rem;line-height: 0.7rem;font-size: 0.36rem;position: relative;text-align: center;margin: 0 auto;width: 2rem;}
			.wapper-apply{width: 2.8rem;}
			.wapper:after{content: "";position: absolute;width: 0.4rem;height: 1px;background: #999;top: 50%;right: -0.4rem;}
			.wapper:before{content: "";position: absolute;width: 0.4rem;height: 1px;background: #999;top: 50%;left: -0.4rem;}
			.small-card{background: #fff;margin: 0.3rem;height: 1.2rem;border-radius: 5px;-moz-box-shadow:1px 1px 10px #d9d9d9; -webkit-box-shadow:1px 1px 10px #d9d9d9; box-shadow:1px 1px 10px #d9d9d9;}
			.small-card .img-box{width: 1.2rem;}
			.small-card .img-box img{width: 0.8rem;height: 0.8rem;margin: 0.2rem auto;display: block;}
			.small-card .txt{width: 5.4rem;line-height: 0.6rem;padding-right: 0.2rem;padding-left: 0.1rem;font-size: 0.3rem;}
			.card-box{padding: 0 .2rem;}
			.card{width: 2.8rem;margin: 0 auto;padding: 0.2rem;background: #03a9f5;color: #fff;font-size: 0.3rem;text-align: justify;border-radius: 5px;position: relative;margin-top: 0.6rem;}
			.card .img-box{width: 0.8rem;height: 0.8rem;position: absolute;left: 50%;margin-left: -0.4rem;top: -0.55rem;}
			.card .img-box img{width: 0.8rem;height: 0.8rem;display: block;}
			.apply{display: block; margin: 0.8rem auto;height: 0.8rem;line-height: 0.8rem;background: #E02E24;color: #fff;width: 5rem;text-align: center;border-radius: 0.3rem;font-size: 0.3rem;}
			.https{text-align: center;padding: 0.2rem;vertical-align: middle;font-size: 0.3rem;line-height: 0.4rem;margin-top: 0.6rem;}
			.https input{width: 0.4rem;height: 0.4rem;margin-right: 0.1rem;color: #999;}
			.https *{vertical-align: middle;}
			.weui_dialog_hd{padding: 0;}
			
			.https-detail{display: none;width: 7.5rem; position: fixed;z-index: 20;top: 0;left: 100%;margin-left: 0;height: 100%;background: #fff;font-size: 0.24rem;overflow-y: auto;}
			.detail-text{padding: 0.2rem;line-height: 0.48rem;margin-top: 1rem;}
			.detail-text h3{line-height: 0.6rem;}
			.detail-text p{color: #555; padding-bottom: 0.2rem;font-size: 0.28rem;text-align: justify;text-indent: 2em;}
		</style>
	</head>
	<body>
		<div class="warp">
			<div class="https-detail">
				<div class="weui-header"> 
		    		<div class="weui-header-left"> <a onclick="closeHttps()" class="icon icon-109"></a>  </div>
					<h1 class="weui-header-title">协议</h1>
		        </div>
		        <div class="detail-text">
	<p>
		本协议由双方同意并承诺遵守本协议规定，就秦商未来商城平台的法律实体（下称“超级码商户”或“甲方”）、西安秦商未来电子商务有限公司（下称“乙方”）本协议具有合同效力。 
	本协议中协议双方合称协议方，乙方简称“秦商未来”。
	</p>
	<p>
		为了能更好的推广与服务于市场，打通平台线上线下O2O客户引流，快速提升秦商未来品牌知名度，提高商家销售额，甲乙双方本着平等互利、诚信为本、友好协商的合作原则，双方达成战略合作关系，现就甲乙双方开展合作事宜制定本协议，双方共同遵守。
	</p>
	<h3>一． 协议内容及生效：</h3>
	<p>
		（一）本协议内容包括协议正文及所有“秦商未来”已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。“秦商未来”就平台会员商家申请注册成为“秦商未来”推广“超级码”制定特别规则（下称“特别规则”），如特别规则与“秦商未来”其他规则存在冲突，则以特别规则为准。
	</p>
	<p>
		（二）甲方在使用“秦商未来”提供的各项服务的同时，承诺接受并遵守各项相关规则的规定。“秦商未来”有权根据平台优化更新不时地制定、修改本协议或各类规则，如本协议有任何变更，“秦商未来”将在网站上以公示形式通知予商户。如商户不同意相关变更，必须立即以书面通知的方式终止本协议。任何修订和新规则一经在“秦商未来”公布即自动生效，成为本协议的一部分。登录或继续使用服务将表示商户接受经修订的协议。除另行明确声明外，任何使服务范围扩大或功能增强的新内容均受本协议约束。
	</p> 
	<p>
		（三）商户签署或在线接受本协议并不导致本协议立即生效，经过“秦商未来”审核通过并向商户发出服务开通通知时，本协议即在商户和“秦商未来”之间产生法律效力。本协议不涉及商户与“秦商未来”其它用户之间因网上交易而产生的法律关系及法律纠纷。
	</p>
	<h3>二． 定义：</h3>
	<p>“秦商未来商城”：指由西安秦商未来电子商务有限公司提供技术支持和服务的电子商务平台网站，网址为http://www.qs58.cn/m </p>
	<p>“秦商未来商城内交易平台”：指秦商未来商城内供用户发布或查询商品信息，进行信息交流，达成交易意向及向用户提供其它与交易有关的辅助信息服务的空间。</p> 
	<p>“秦商未来互联网价值再生平台”：又称“秦商未来商城”，指秦商未来商城向商户提供服务的特定空间。</p> 
	<p>“商户及商户注册”：商户必须是符合本协议第4条规定实体，如违反本协议第5条之声明与保证的组织不当注册为“秦商未来”实体商户或超越其民事权利或行为能力范围从事交易的，其与“秦商未来”之间的协议自始无效，“秦商未来”一经发现，有权立即注销该商户入驻帐户，并追究其使用“秦商未来”服务的一切法律责任。商户注册是指商户登陆“秦商未来”商城，按要求填写相关信息、在线接受并同意履行本协议以最终激活其商家入驻“秦商未来”商城帐户的过程。</p> 
	<p>“商家入驻“秦商未来”商城帐户”：又称“秦商未来商城帐户”，即商户完成商户注册流程而获得的其将在使用服务的过程中必须与自设的帐户密码共同使用的用户名，称“秦商未来商城用户名”。商户应妥善保管其秦商未来商城入驻帐户及密码信息，商户不得以任何形式擅自转让或授权他人使用自己的秦商未来商城入驻帐户；</p> 
	<p>“服务”：是指由乙方在“秦商未来”商城网络购物平台向商户提供的互联网信息发布、商业推广及与此有关的互联网技术服务。具体服务内容如下：</p> 
	<p>1. 网络信息服务：指商户根据本协议的规定利用“秦商未来”商城网上交易平台查询商品信息、发布商品信息、作为卖方与其它用户订立商品买卖合同、兑现会员消费消费积分的赠送和平台让利额度、参加秦商未来商城的有关活动以及其它由“秦商未来”商城同意提供的信息服务；</p> 
	<p>2．秦商未来商城网络购物平台活动推荐位服务：指“秦商未来”商城网络购物平台举办的商业推广活动页面中的推荐位展示服务；</p> 
	<p>3．其他服务：包括但不限于市场调研、商业推广、广告等服务，由协议方在《实体联盟商家入驻秦商未来协议》或补充协议中确定。</p> 
	<p>4.“秦商未来”商城保留在任何时候自行决定对服务及其相关功能、应用软件变更、升级的权利。“秦商未来”商城进一步保留在服务中开发新的模块、功能和软件或其它语种服务的权利。上述所有新的模块、功能、软件服务的提供，除非“秦商未来”商城另有说明，否则仍适用本协议。服务随时可能因“秦商未来”商城的单方判断而被增加或修改或因定期、不定期的维护而暂缓提供，商户将会得到相应的变更通知。商户在此同意“秦商未来”商城在任何情况下都无需向商户或第三方在使用服务时对其在传输或联络中的迟延、不准确、错误或疏漏及因此而致使的损害负责。</p>
	<p>“秦商未来商城商家入驻条款”由协议方另行签署的确认与本协议服务有关的各项个性化规定的契约文件。如秦商未来商城商家入驻条款内容与本协议内容存在冲突，以秦商未来商城商家入驻条款内容为准。</p>
	<h3>三、证明文件提交：</h3>
	<p>（一）证明文件提交：商户欲使用本协议下服务，必须向“秦商未来”提交其在申请服务时提供信息的相关证明。具体证明信息内容如下：</p> 
	<p>1. 营业执照副本复印件；</p> 
	<p>2. 税务登记证复印件、法人代表身份证复印件； </p>
	<p>3. 商户出具的证明联系人获得商户授权的证明； </p>
	<p>4. 其它秦商未来商城认为需查验的信息。（根据商户经营类别的不同查验不同产品的信息）</p>
	<p>5、按照实体联盟商家入驻流程进行实体资料填写和完善 。 </p>
	<p>（二）信息变更的通知：协议期内，上述信息（包括相关证明文件）的任何变更商户都应及时通知“秦商未来”，如上述信息变更后使得商户不再具备履行本协议的情形出现时，“秦商未来”有权立即终止本协议。</p> 
	<p>（三）责任条款：商户同意为其未及时的通知或更新其信息承担全部责任，商户保证其向“秦商未来”提供的全部证明文件真实、准确且不存在超过时效问题（即保证所有证明文件在整个合同履行期间都处于有效期内）如因上述原因发生纠纷或被相关国家主管机关处罚，商户应当独立承担全部责任。如因上述原因给“秦商未来”（包括其用户、合作伙伴、代理人、职员等）造成损失的，商户同意赔偿其全部损失。</p>
	<h3>四、申请条件：</h3>
	<p>申请使用服务的商户必须同时满足以下条件：</p>
	<p>(一)注册成为“秦商未来”商城会员 </p>
	<p>(二)持有中华人民共和国合法营业执照;</p> 
	<p>(三)提交了本协议第3条约定的相关证明文件并获得“秦商未来”认可；</p>
	<h3>五、商户的声明与保证 ：</h3>
	<p>（一）甲方符合商户的申请条件，且向“秦商未来”提供真实、合法、准确、有效的注册资料，并保证甲方诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性，保证及其他用户可以通过上述联系方式与自己进行联系。同时，商户也有义务在相关资料实际变更时及时更新有关注册资料。商户保证不以他人及虚假资料在秦商未来商城进行注册。</p> 
	<p>（二）甲方承诺遵守本协议以及所有公示于秦商未来商城的规则和流程。 </p>
	<p>（三）甲方有合法的权利缔结本协议，使用服务。 </p>
	<p>（四）甲方发布于秦商未来商城的所有信息真实、准确，符合相关法律法规及秦商未来商城的规则。 </p>
	<p>（五）甲方发布于秦商未来商城的交易信息中不能涉及散食类、医药品类、快餐食品类等；此类产品需要有相关合格证件方可于秦商未来商城售卖。所涉商品需有合法的销售权和相关证件。</p> 
	<p>（六）甲方将按照不低于《中华人民共和国产品质量法》、《中华人民共和国消费者权益保护法》及其它法规、部门规章和国家强制性标准规定的要求，出售商品并提供“三包”等售后服务。甲方保证提供给乙方平台的商品为市场上可以合法流通、来源正规、无质量问题，具有符合国家规范的条形码或外包装，并提供相关证明商品（包括但不限于营业执照、商标、许可证、产品合格证等）合法性文件给乙方。甲方需严格遵守国家工商、税务等有关政策、法令、法规进行商业活动。如有违反，属甲方行为，概与乙方无关，因此衍生的一切后果，由甲方负责承担。如甲方所提供的商品存在质量问题、假冒产品（无法提供证实产品真实性的资质即视为假冒产品）或者来源非法，平台接到消费者的赔偿诉求后与商家联系，为消费者申请理赔，赔偿的金额为消费者购买商品的价款或者接受服务的费用的3倍；在产品出现投诉受理过程中，秦商未来可根据情况暂时冻结供应商账户积分和货款，至投诉有效处理完毕，如客户投诉，供应商不能有效处理，公司将依法追究法律责任。乙方有权立即终止本合同，并追究对乙方（包括其用户、合作伙伴、代理人、职员等）造成相应的损失。</p> 
	<p>（七）甲方发票，相关税收应按国家相关规定由商户自行承担。 </p>
	<p>（八）甲方保证在使用服务进行交易的过程中遵守诚实信用的原则，不在交易过程中采取不正当竞争行为，不扰乱线上交易的正常秩序，不从事与线上交易无关的行为。</p> 
	<p>（九）甲方保证在使用服务时实施的所有行为均遵守国家法律、法规和秦商未来的相关规定以及各种社会公共利益或公共道德。如有违反导致任何法律后果的发生，商户将以自己的名义独立承担所有相应的法律责任；</p> 
	<p>（十）甲方同意不对“秦商未来”商城上任何数据做商业性利用，包括但不限于在未经“秦商未来”事先书面批准的情况下，以复制、传播或向它方披露等方式使用在“秦商未来”商城其它用户展示的任何资料；</p> 
	<p>（十一）甲方承诺拥有合法的权利和资格向“秦商未来”商城上传有关商品销售信息并进行销售，且前述行为未对任何第三方合法权益造成侵害，包括但不限于第三方知识产权、物权等构成侵害，如因甲方行为导致“秦商未来”遭受任何第三方提起的索赔，诉讼或行政责任，甲方将承担相应责任并使“秦商未来”免责。</p> 
	<p>（十二）甲方任何在线接受本协议并不导致本协议发生法律效力，本协议是附条件生效协议，即必须经过“秦商未来”对其提交的全部资料审核通过后方可生效。同时，甲方认可秦商未来有权独立的对甲方入驻资料、经营权限开通申请进行评估、判断。审核结果以“秦商未来”评估、判断为准，甲方对此不持有任何异议。</p> 
	<p>（十三）甲方承诺不在发布的商品中使用任何未获授权品牌的关键字；</p> 
	<p>（十四）甲方承诺接受“秦商未来”对其出售商品是否具有合法进货来源的不定期检查，甲方有义务保留其商品具有合法进货来源的相关凭证。对于无法提供合法进货来源凭证的，“秦商未来”将根据实际情况对商品的真伪作出判断并根据本协议以及“秦商未来”相关规则进行处理。</p> 
	<p>（十五）甲方承诺接受“秦商未来”商城基于商品品质控制需求对其在售商品进行的质量抽检，检测报告由专业的第三方质检机构出具，甲方承诺对“益秦商未来”选择的第三方质检机构作出的检测结果不持有异议。对于经检测证明存在质量瑕疵的商品，检测费用由商户承担。</p> 
	<p>（十六）甲方承诺按照如下约定提供售后服务：</p> 
	<p>16.1 产品不符：客户收到甲方的货物后，如发现有不符合合同规定或短缺的情况，应向甲方提出异议，说明不符合规定的产品名称、型号、规格、数量及校验情况和处理意见，甲方应根据客户所提的处理意见进行调换或退货。</p>
	<p>16.2 维修问题：甲方产品在保修期间内出现非人为的质量问题，甲方应及时给客户进行维修或调换新机；如产品在物流过程中出现破损甲方应及时补发新品，出现物流丢失甲方应及时与第三方解决，不能耽误客户正常收货。</p>
	<h3>六、“秦商未来”的权利和义务：</h3>
	<p>（一）“秦商未来”有义务在现有技术上维护整个“秦商未来”商城交易平台的正常运行，并提升和改进技术，使商户线上交易活动得以顺利进行；“秦商未来”有权根据商户营业执照的经营范围以及商户对所经营店铺经营范围的描述自行决定（调整）允许商户发布“秦商未来”商品类目种类和数量，商户对此不持任何异议。</p> 
	
	<p>（二）商户在注册使用服务中所遇到的与交易或注册有关的问题反映的情况，“秦商未来”应及时作出回复；</p> 
	<p>（三）因网上交易平台的特殊性，“秦商未来”没有义务对所有商户的交易行为以及与交易有关的其它事项进行事先审查，但如存在下列情况：</p> 
	<p>① 第三方通知“秦商未来”，认为某个具体商户或具体交易事项可能存在重大问题； </p>
	<p>② 商户或第三方向“秦商未来”告知交易平台上有违法或不当行为的；</p> 
	<p>秦商未来会以普通非专业人员的知识水平标准对相关内容进行判别，可以认为这些内容或行为具有违法或不当性质的，“秦商未来”有权根据现实情况选择删除相关信息或停止对该商户提供服务，并追究相关法律责任。</p> 
	<p>（一）“秦商未来”有权对商户的注册数据及交易行为进行查阅，发现注册数据或交易行为中存在任何问题或怀疑，均有权向商户发出询问或要求改正的通知，或者直接作出删除等处理；</p> 
	<p>（二）经国家生效法律文书或行政处罚决定确认商户存在违法行为，或“秦商未来”有足够事实依据可以认定商户存在违法或违反协议行为的，“秦商未来”有权在“秦商未来”商城公布商户的违法或违规行为；</p> 
	<p>（三）对于商户在“秦商未来”交易平台发布的下列各类信息，秦商未来有权在不通知商户的前提下进行删除或采取其它限制性措施，包括但不限于以规避费用为目的的信息；以炒作信用为目的的信息；“秦商未来”有理由相信存在欺诈等恶意或虚假内容的信息；“秦商未来”有理由相信与网上交易无关或不是以交易为目的的信息；“秦商未来”有理由相信存在恶意抬高物价多让利多送消费积分或其它试图扰乱正常交易秩序因素的信息；秦商未来有理由相信属违反公共利益或可能严重损害“秦商未来”或其它用户合法利益的信息；</p> 
	<p>（四）甲方应持真诚合作的态度，所销售商品价格要公平合理，若甲方故意抬高产品价格，入驻上架所有产品的价格虚高于其他平台（零售价格上下浮动超于市场的10%，经查属实），乙方有权冻结甲方所有货款，且冻结甲方所有分红消费积分，并对乙方赔偿虚高部分5倍以上的货款金额。</p> 
	<p>（五）甲方必须在消费者下单之后的24小时内发货，并维护物流信息到“秦商未来”后台，配合秦商未来客服处理货物在途遇到的问题。甲方出现严重发货问题、严重售后问题、严重质量问题、疑似售假问题时，“秦商未来”除有权冻结商家原有货款外，还有权对商家的分红消费积分进行扣除。</p> 
	<p>（六）因甲方在秦商未来平台出售商品，而引起的第三方维权、投诉、诉讼等，造成的任何损失均由甲方负责与乙方无相关连责任。</p> 
	<p>（七）商户在此授予“秦商未来”独家的、全球通用的、永久的、免费的许可使用权利 (并有权对该权利进行再授权)，使“秦商未来”有权(全部或部份地) 使用、复制、修订、改写、发布、翻译、分发、执行和展示商户公示于网站的各类信息或制作其派生作品，或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内；</p>
	<h3>
		七、费用规定：
	</h3>
	<p>甲方同意，就甲方使用的服务向“秦商未来”支付以下服务费用： </p>
	<p>1.技术服务费 </p>
	<p>2.空间使用费 </p>
	<p>3.平台服务年费10000元/一次性（大写：壹万元整），商户须一次性交纳。</p> 
	<p>4.信息发布费 </p>
	<p>6.其他商业推广或技术服务费用</p>
	<p>7.超级码商户可享受自身分享市场让利额1%的积分分红</p>
	<h3>八、保证金：</h3>
	<p>（一）商户同意按本条款规定缴存一定金额的保证金，保证金的额度为：1000元（大写：壹仟元整） </p>
	<p>（二）保证金的管理：</p> 
	<p>1.秦商未来平台有权冻结商户所交纳的保证金额。 </p>
	<p>2.保证金的管理：</p> 
	<p>1）如服务期内商户未有违反秦商未来各项规则的行为，且至停止使用服务后三个月内，商户未受到任何第三方投诉或发生交易纠纷，则秦商未来将在上述期限届满后的十（10）个工作日内解除对保证金的冻结，本协议另有规定的除外。</p> 
	<p>2）“秦商未来”有权在以下情况发生时处置保证金：</p> 
	<p>1.在“秦商未来”商城进行的交易中，如商户违反法律、法规、政策或违反其对买家的承诺致买家受损时，商户同意“秦商未来”有权根据“秦商未来”的判断，直接使用保证金对买家进行赔付。</p> 
	<p>2.在符合适用于“秦商未来”商城购物平台的相关消费者保障服务规则的情况下，如商户未在规则规定的时间内向买家履行相关义务，则“秦商未来”有权独立判断，直接使用保证金向买家退款或部分退款，不足部分“秦商未来”有权向甲方追责。 如商户违反本协议或“秦商未来”商城任何规则，给秦商未来造成任何损失（包括但不限于诉讼赔偿、诉讼费用、律师费用等），或根据“秦商未来”的相关规则规定，应向“秦商未来”支付违约罚金，（罚金）则秦商未来有权直接从保证金中扣除相当于“秦商未来”损失的金额或违约罚金，（罚金）保证金不足以赔偿的，“秦商未来”有权继续向商户追偿。在损失金额不明确之前，秦商未来有权无限期冻结该保证金，直至损失金额明确后予以结算。</p> 
	<p>3．“秦商未来”如使用保证金对第三方进行任何赔付，应以书面方式（包括但不限于电子邮件、传真等）通知商户。在向商户出具的书面通知中，应说明赔付原因及赔付金额。赔付完成后，应向商户出具必要的赔付资金往来凭证。</p> 
	<p>4．如保证金不足赔付时，商户应自行支付额外的赔付金额，如因故导致“秦商未来”向买家支付了超出保证金数额的款项，则“秦商未来”有权要求商户偿付“秦商未来”的损失，且在指定时间内补足保证金。如“秦商未来”的损失通过上述方式仍无法弥补，则“秦商未来”有权单方面终止本协议。同时“秦商未来”保留通过法律途径向商户追偿的权利。</p>
	<p>5.商户对买家、任何第三方以及“秦商未来”的赔付责任不以保证金的数额为限；除对商户保证金的处置外，“秦商未来”不对买家或者其他权利人承担任何其它赔付义务。</p>
	<h3>九、协议的终止：</h3>
	<p>（一）通知解除：协议任何一方均可以提前十五（15）天书面通知的方式终止本协议。</p> 
	<p>（二）“秦商未来”单方解除权： </p>
	<p>1.如商户违反“秦商未来”商城的任何规则或本协议中的任何承诺或保证，包括但不限于本协议项下的任何约定，“秦商未来”都有权立刻终止本协议，且按有关规则对商户进行处罚。如商户销售“秦商未来”不支持的商品品类或第三方多次投诉其商品质量或服务质量，则秦商未来除有权立即终止本协议外，还有权自商户支付帐户全额划扣其所有保证金，作为商户的违约金。</p> 
	<p>2.商户在超过九十（90）天的时间内未以“秦商未来”商城账户及密码登录“秦商未来”商城的，“秦商未来”有权终止本协议。</p> 
	<p>3.如非因“秦商未来”的原因，商户未能按本协议及附件之规定，按期全额支付有关服务费用或活动费用，且在“秦商未来”规定的时限内仍未支付，“秦商未来”有权部分或全部终止本协议。</p> 
	<p>4.本协议规定的其它协议终止条件发生或实现，导致本协议终止。</p> 
	<p>5.协议终止后有关事项的处理：</p> 
	<p>①.协议终止后，“秦商未来”没有义务为商户保留“秦商未来”商城账户中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给商户或第三方。亦不就终止协议而对商户或任何第三者承担任何责任；</p> 
	<p>②.无论本协议因何原因终止，在协议终止前的行为所导致的任何赔偿和责任，商户必须完全且独立地承担；</p> 
	<p>③.协议终止后，“秦商未来”有权保留该商户的注册数据及以前的交易行为记录。如商户在协议终止前在“秦商未来”交易平台上存在违法行为或违反协议的行为，“秦商未来”仍可行使本协议所规定的权利；</p> 
	<p>6.协议终止之前有关事项的处理： </p>
	<p>①.商户已经上传至“秦商未来”商城的商品信息尚未达成交易协议的，“秦商未来”有权在协议终止时同时删除此项商品的相关信息；</p>
	<p>②.商户已经与另一用户就某商品信息达成交易协议的，“秦商未来”可以不删除该项交易，但“秦商未来”有权在协议终止的同时将协议终止的的情况通知该交易中的买方。</p> 
	<p>7.如在协议期内，非因商户违约或过错导致本协议终止，则商户有权凭“秦商未来”就本协议开具的发票原件及退款申请要求秦商未来退还未履行部分的服务费用（如有的话）至商户指定的银行账户。其他情况下协议发生终止，未履行服务费用均不予退还。</p>
	<h3>十、协议期限：</h3>
	<p>本协议经商户在线接受且经过“秦商未来”审核通过后（或书面签署后）即告生效，除非本协议规定的终止条件发生，本协议将持续有效。双方另有约定的除外。</p>
	<h3>十一、保密条款：</h3>
	<p>（一）本协议所称商业秘密包括但不限于本协议、任何补充协议所述内容及在合作过程中涉及的其他秘密信息。任何一方未经商业秘密提供方同意，均不得将该信息向任何第三方披露、传播、编辑或展示。协议方承诺，本协议终止后仍承担此条款下的保密义务，保密期将在合同终止后另持续三年。</p> 
	<p>(二)因对方书面同意以及国家、行政、司法强制行为而披露商业秘密的，披露方不承担责任；该商业秘密已为公众所知悉的，披露方不承担责任。</p>
	<h3>十二、有限责任：</h3>
	<p>（一）服务将按“现状”和按“可得到”的状态提供。“秦商未来”在此明确声明对服务不作任何明示或暗示的保证，包括但不限于对服务的可适用性，没有错误或疏漏，持续性，准确性，可靠性，适用于某一特定用途之类的保证，声明或承诺。“秦商未来”对服务所涉的技术和信息的有效性，准确性，正确性，可靠性，质量，稳定，完整和及时性均不作承诺和保证。</p> 
	<p>（二）使用服务下载或者获取任何资料的行为均出于商户的独立判断并自行承担风险。每一个商户独自承担因此对其电脑系统或资料灭失造成的损失。</p> 
	<p>（三）不论在何种情况下，“秦商未来”均不对由于Internet连接故障、电脑、通讯或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、不可抗力、战争、政府行为，国际、国内法院的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。</p>
	<p>（四）不论是否可以预见，不论是源于何种形式的行为，“秦商未来”不对由以下原因造成的任何特别的、直接的、间接的、惩罚性的、突发性的或有因果关系的损害或其它任何损害（包括但不限于利润或利息、消费积分的损失，营业中断、资料灭失）承担责任。</p> 
	<p>1. 使用或不能使用服务所造成的损害；</p> 
	<p>2. 通过服务购买或获取任何商品、样品、数据信息或进行交易等及其它可替代上述行为而产生的费用所造成的损害；</p> 
	<p>3. 未经授权的存取或修改数据或数据的传输所造成的损害； </p>
	<p>4. 第三方通过服务所作的陈述或行为所造成的损害； </p>
	<p>5. 其它与服务相关事件，包括疏忽等，所造成的损害。</p>
	<h3>十三、违约责任：</h3>
	<p>（一）商户同意赔偿由于使用服务（包括但不限于将商户资料展示在网站上）或违反本协议而给“秦商未来”造成的任何损失（包括由此产生的全额的诉讼费用和律师费）。商户同意“秦商未来”不对任何其宣传的资料，包括诽谤性的，攻击性的或非法的资料，承担任何责任；由于此类材料对其它用户造成的损失由商户自行全部承担。</p> 
	<p>（二）商户承诺，不会采取任何手段或措施，包括但不限于明示或暗示用户或通过其他方式转移其可以通过“秦商未来”购物平台在线达成的交易，或达成交易后规避向“秦商未来”支付相关服务费用。否则将视为严重违约，“秦商未来”将有权立即终止本协议，并将其保证金作为违约金予以划扣，还可就违约行为向商户追偿。</p> 
	<p>（三）除本协议及“秦商未来”商城规则另有约定之外，如一方发生违约行为，守约方可以书面通知方式要求违约方在指定的时限内停止违约行为，并就违约行为造成的损失进行索赔，如违约方未能按时停止违约行为，则守约方有权立即终止本协议。</p>
	<h3>十四、法律适用、管辖与其他 ：</h3>
	<p>（一） 如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力。</p> 
	<p>（二）“秦商未来”对于商户过失或违约时放弃本协议规定的权利的，不得视为其对商户的其它或以后同类之过失或违约行为弃权。</p> 
	<p>(三）本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国大陆地区法律，如无相关法律规定的，则应参照通用国际商业惯例或行业惯例。</p> 
	<p>（四）本协议包含了甲方使用“秦商未来”平台需遵守的一般性规范，甲方在使用“秦商未来”平台时还需遵守适用于该平台的特殊性规范（具体请参见甲方与该平台签署的其它协议以及平台规则等内容）。一般性规范如与特殊性规范不一致或有冲突，则特殊性规范具有优先效力。</p> 
	<p>（五）因本协议产生之争议需根据甲方使用的服务归属的平台确定具体的争议对象，例如因甲方使用秦商未来服务所产生的争议应由“秦商未来”的使用者与甲方沟通并处理。一旦产生争议，甲方与秦商未来平台的使用者均同意以被告所在地人民法院为第一审管辖法院。</p>
	
		        </div>
			</div>
			<div class="apply-detail">
				<div class="weui-header"> 
		    		<div class="weui-header-left"> <a href="javascript:;" onclick="goToBack()" class="icon icon-109"></a>  </div>
					<h1 class="weui-header-title">超级码</h1>
		    		<div class="weui-header-right" onclick="showHttps()">协议</div> 
		        </div>
		        <div class="main">
		        	
			        <div class="wapper">超级码权益</div>
			        <div class="small-card">
			        	<div class="img-box left">
			        		<img src="/Mobile/Themes/huadong/static/seller/apply/qyicon1.png"/>
			        	</div>
			        	<div class="txt right">
			        		享受自身体系整体市场更高比例的积分红包
			        	</div>
			        </div>
			        <div class="small-card">
			        	<div class="img-box left">
			        		<img src="/Mobile/Themes/huadong/static/seller/apply/qyicon2.png"/>
			        	</div>
			        	<div class="txt right">
			        		自身消费、销售让利额积分红包
			        	</div>
			        </div>
			        <div class="small-card">
			        	<div class="img-box left">
			        		<img src="/Mobile/Themes/huadong/static/seller/apply/qyicon3.png"/>
			        	</div>
			        	<div class="txt right">
			        		提高自身知名度，线上+线下多渠道拓展业务
			        	</div>
			        </div>
			        <div class="small-card">
			        	<div class="img-box left">
			        		<img src="/Mobile/Themes/huadong/static/seller/apply/qyicon4.png"/>
			        	</div>
			        	<div class="txt right">
			        		锁定人脉，跨界收益
			        	</div>
			        </div>
			        <div class="wapper wapper-apply">超级码申请流程</div>
			        <div class="card-box">
			        	<div class="weui-flex">
			        		<div class="weui-flex-item">
						        <div class="card">
						        	<div class="img-box">
						        		<img src="/Mobile/Themes/huadong/static/seller/apply/rz1.png"/>
						        	</div>
						        	<div class="txt">
						        		会员申请开通“秦商未来”平台超级分享码代理资格，需要交纳平台管理费1万元（一次性）
						        	</div>
						        </div> 
			        		</div>
			        		<div class="weui-flex-item">
						        <div class="card weui-flex-item">
						        	<div class="img-box">
						        		<img src="/Mobile/Themes/huadong/static/seller/apply/rz2.png"/>
						        	</div>
						        	<div class="txt">
						        		超级码会员：有营业执照的单位和机构、实体店或者拥有自身品牌的商家 资质材料审核认证、协议签约
						        	</div>
						        </div>
			        		</div>
			        	</div>
			        </div>
			        <div class="card-box">
			        	<div class="weui-flex">
			        		<div class="weui-flex-item">
						        <div class="card">
						        	<div class="img-box">
						        		<img src="/Mobile/Themes/huadong/static/seller/apply/rz3.png"/>
						        	</div>
						        	<div class="txt">
						        		审核通过后即可开通“超级码”开始产生相应的收益
						        	</div>
						        </div>
						    </div>
						    <div class="weui-flex-item">
						        <div class="card">
						        	<div class="img-box">
						        		<img src="/Mobile/Themes/huadong/static/seller/apply/rz4.png"/>
						        	</div>
						        	<div class="txt">
						        		自身业绩明细、会员明细一目了然，开启财富管道收益
						        	</div>
						        </div>
						    </div>
				        </div>
				    </div>
				    <div class="https">
				    	<input type="checkbox" name="" id="https" value="" /><label onclick="showHttps()">实体联盟商家申请超级码协议</label>
				    </div>
			        <a href="javascript:;" onclick="apply()" class="apply">立即申请</a>
		        </div>
			</div>
		</div>
			
        
        
        <script type="text/javascript">
        	var IsApp = "@WorkContext.IsApp";
			function goToBack() {
				var _this = this;
	    		if(IsApp==1){
					if(navigator.userAgent.indexOf("iPhone")>0){
						gobacklastpage();
					}
					if(navigator.userAgent.indexOf("Android")>0){
							window.js.goBack();
						}
				}else{
					window.history.back();
				}
					
			}
	        function showHttps() {
	        	$(".apply-detail").css("display","none");
	        	$(".https-detail").css("display","block");
	        	$(".https-detail").animate({"left": "50%","margin-left":"-3.75rem"},300);
	        }
	        function closeHttps() {
	        	$(".apply-detail").css("display","block");
	        	$(".https-detail").animate({"left": "100%","margin-left":0},300);
	        	setTimeout(function(){
	        		$(".https-detail").css("display","none");
	        	},300);
	        }
        	function apply() {
        		if($("#https").prop("checked")){
        			$.ajax({
        				type:"post",
        				url:"supercodejoin",
        				async:true,
        				dataType:"json",
        				success:function(rel) {
        					if(rel.Code==1){
        						/*$.alert("申请已提交，请您耐心等待审核！",function(){
        							
        						});*/
        						window.location.href="/m/seller/supercoderesult";
        					}else{
        						$.alert(rel.Message);
        					}
        				}
        			});
        		}else{
        			$.alert("请先仔细阅读并同意协议");
        		}
        	}
        </script>
	</body>
</html>
