@charset "utf-8";


/* 我的积分css */

.myscore-page-head{
	overflow: hidden;
	position: relative;
	background-color: #0096E3;
	padding: 0.4rem 0 1.1rem 0;
}

.myscore-page-head:after,
.myscore-page-head:before{
	content:"";
	width: 2rem;
	height: 2rem;
	opacity: 0.3;
	border-radius: 0.16rem;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	background: -webkit-linear-gradient(left top, #fff , #0096E3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #fff , #0096E3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #fff , #0096E3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #fff , #0096E3); /* 标准的语法 */
}
.myscore-page-head:after{
	left: -0.6rem;
    bottom: 0.48rem;
    -webkit-transform: rotate(-122deg);
    transform: rotate(-122deg);
}
.myscore-page-head:before{
	right: -0.6rem;
    top: -0.06rem;
    -webkit-transform: rotate(58deg);
    transform: rotate(58deg);
}

.myscore-title{
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 10;
}

.myscore-title div{
	width: 33%;
	height: 0.6rem;
	line-height: 0.6rem;
	float: left;
	text-align: center;
}

.myscore-title .back-prev-page{
	position: relative;
}

.myscore-title .back-prev-page::after{
	content: "";
	width: 0.24rem;
	height: 0.24rem;
	position:absolute;
	left: 0.36rem;
	top: 0.18rem;
	border-top: 0.04rem solid #fff;
	border-right: 0.04rem solid #fff;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.myscore-title div{
	color:#fff;
	font-size: 0.28rem;
}

.myscore-title .page-name{
	font-size: 0.36rem;
}

.myscore-title .transaction-record .record-btn{
	color: #fff;
	display: block;
	text-align: right;
	padding-right: 0.24rem;
}

.myscore-content{
	color:#fff;
	max-width: 6rem;
	margin: 0.3rem auto 0;
	overflow: hidden;
	text-align: center;
	position: relative;
    z-index: 2;
}

.myscore-text{
	opacity: 0.8;
	font-size: 0.28rem;
	line-height: 0.48rem;
}

.myscore-number{
	font-size: 0.8rem;
    font-weight: 700;
    line-height: 0.96rem;
}

.myscore-content-type{
	width: 100%;
	padding: 0 0.3rem;
	position: absolute;
    bottom: 2.28rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

.myscore-total,
.myscore-used{
	width:47%;
	height: 1.32rem;
	float: left;
	overflow: hidden;
	background-color: #fff;
	padding: 12px 0.16rem;
	text-align: center;
	box-shadow: 0 0 0.16rem #cdcdcd;
}

.myscore-used{
	float: right;
}

.myscore-type{
	color:#A3A3A3;
	font-size: 0.24rem;
	line-height: 0.4rem;
}

.myscore-type-number{
	color:#333;
	font-size: 0.36rem;
	line-height: 0.48rem;
	font-weight: 500;
}

.myscore-content-info{
	width: 100%;
	margin-top: 1.2rem;
	position: relative;
}

.myscore-list{
	width: 100%;
	line-height: 0.8rem;
	background-color:#fff;
	/*margin-bottom: 0.3rem;*/
	border-bottom:1px solid #eee;
}

.myscore-list:last-child{
	margin-bottom: 0;
}

.myscore-list a{
	display: block;
	position: relative;
	color:#333;
	padding: 0 0.3rem;
	font-size: 0.32rem;
}

.myscore-list a:after{
	content:"";
	width: 0.16rem;
	height: 0.16rem;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	right: 0.3rem;
	top: 0.3rem;
}
i.detail,
i.recharge{
	font-size: 0.4rem;
	margin-right: 0.2rem;
	font-weight: 500;
	color:#FFC343;
	vertical-align: middle;
}
i.recharge{
	color:#3CE6A6;
}

.myscore-content-info-flex{
    margin-top: 1rem;
	-webkit-display: flex;
	display: flex;
}

.myscore-content-info-flex .myscore-list {
	-webkit-flex: 1;
	flex: 1;
	border-right: 1px solid #d9d9d9;
}

.myscore-content-info-flex .myscore-list:last-child{
	border-right: 0;
}

.myscore-content-info-flex .myscore-list a{
	text-align: center;
	height: 2rem;
	line-height: 1.4rem;
}
.myscore-content-info-flex .myscore-list a.allow{
	height: 1rem;
	line-height: 1rem;
    text-align: left;
    position: relative;
}

.myscore-content-info-flex .myscore-list a.allow:before{
    content: "";
    width: 7px;
    height: 7px;
    border-top: 1px solid #a0a0a0;
    border-right: 1px solid #a0a0a0;
    background-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 0.3rem;
    top: .35rem;
}

.myscore-content-info-flex .myscore-list .icon{
	font-size: 0.4rem;
}

.myscore-content-info-flex .myscore-list .icon-43{
	margin-right: 0.1rem;
}
.myscore-content-info-flex .myscore-list a:after{
	display: none;
}
.myscore-content-info-flex .myscore-content-type{
	bottom: 1.3rem;
}