@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>电子商务-@{@WorkContext.SellerInfo.SellerName}</title>
    <meta content="@WorkContext.ShopConfig.SEODescription" name="description">
    <meta content="@WorkContext.ShopConfig.SEOKeyword" name="keywords">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/Mobile/weui/style/weui.css" />
    <link rel="stylesheet" type="text/css" href="/Mobile/weui/style/weui2.css" />
    <link rel="stylesheet" type="text/css" href="/Mobile/weui/style/weuix.min.css" />
    <script src="/Mobile/weui/zepto.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Mobile/weui/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/Css/Mobile/NongHuChanPin/shop_news.css"/>
	<style type="text/css">
		img{width: 100%;}
	</style>
	</head>
	<body style="background: #fff;">
		<div class="warpper">
			<div class="banner">
				<img src="/Images/Mobile/NongHuChanPin/ecshop.jpg" alt="" class="banner" />
			</div>
			<div class="title">电子商务 >></div>
			<div class="lists" style="margin: 0;padding-top: .2rem;">
				<ul>
					<li>
						<a href="NongFuChanPinNewsList?CateId=417&Name=餐饮预订">
							<img src="/Images/Mobile/NongHuChanPin/dzsw2.png" alt="" />
						</a>
					</li>
					<li>
						<a href="NongFuChanPinNewsList?CateId=418&Name=旅游景点">
							<img src="/Images/Mobile/NongHuChanPin/dzsw3.png" alt="" />
						</a>
					</li>
					<li>
						<a href="NongFuChanPinNewsList?CateId=419&Name=酒店预订">
							<img src="/Images/Mobile/NongHuChanPin/dzsw4.png" alt="" />
						</a>
					</li>
					<li>
						<a href="http://new.chengjiekeji.com/mobile.php?act=module&id=39&name=weidim&do=weidim&weid=12">
							<img src="/Images/Mobile/NongHuChanPin/dzsw1.png" alt="" />
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
