<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>扶贫就业</title>
		<script src="/Mobile/weui/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			*{margin: 0;padding: 0;border: 0;}
			body{padding: 0.6rem 0.2rem;}
			.content{margin-top: 0.4rem;}
			h3{text-align: center;font-size: 0.36rem;}
			p{color: #666;font-size: 0.28rem;padding: 0.04rem 0.2rem;}
			h4{padding: 0.2rem 0.2rem 0 0.2rem;font-size: 0.32rem;}
		</style>
	</head>
	<body>
		<h3>西安市阎飞农业科技有限公司</h3>
		<h3>扶贫就业标准</h3>
		<div class="content">
			<p>为贯彻落实中央和省委“坚决打赢脱贫攻坚战”的决策部署，加大就业扶贫工作力度，确保实现“每个有劳动力的贫困家庭至少有一人就业”的目标，阎飞农业特推出吸纳贫困家庭劳动力就业政策。</p>
			<h4>一、扶贫就业标准</h4>
			<p>1、在当年的企业运营计划中推出10个公益性岗位，用于安置贫困家庭劳动力，公益性岗位薪资标准不低于本市最低基本薪资；</p>
			<p>2、对有培训意愿的贫困家庭劳动力每年至少提供一次免费培训；</p>
			<p>3、促进贫困家庭劳动力转移就业，对贫困家庭劳动力参加有组织劳务输出的，给予一次性单程铁路、公路或水运（路）交通补贴；</p>
			<p>4、落实以上政策措施所需资金，从本企业就业补助资金中列支；</p>
			<h4>二、应聘方式</h4>
			<p>1、官网报名：填写详细的个人资料，姓名+电话+身份证号码+现住址+简单个人介绍+是否在阎飞现代农业园工作过，我司招聘人员收到信息后，会根据当年既定的名额筛选核实，第一时间通知您前往面试</p>
			<h4>三、应聘条件</h4>
			<p>1、符合法定年龄，性别不限，具备工作要求相应的文化程度； </p>
			<p>2、具备符合的劳动力、服从安排、遵守公司相关制度； </p>
			<p>3、持本人二代身份证原件，有农业项目一线作业员工作经验优先录用；</p>
		</div>
	</body>
</html>
